<html>
<head>
    <title>$i18n.getText( "ru.mail.jira.plugins.projectconfigurator" )</title>
    <meta name="decorator" content="atl.general" />
    $webResourceManager.requireResourcesForContext( "atl.general" )
    $webResourceManager.requireResourcesForContext("jira.general")
    $webResourceManager.requireResource( "ru.mail.jira.plugins.projectconfigurator:project-configurator-bundle-resource" )
</head>
<body>
    <div class="project-configurator-container"></div>
</body>
</html>